<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplustest.mapper.TestUserMapper">
  <sql id="Base_Column_List">
    id, join_time, `name`, num_col1, num_col2, `valid`
  </sql>
  <select id="findAllNumCol1" resultType="java.lang.Integer">
    select distinct num_col1 from test_user order by num_col1
  </select>
</mapper>