<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task.xsd">

	<context:component-scan base-package="de.honoka.test.spring.task">
		<!-- 不扫描@Controller注解的类 -->
		<context:exclude-filter
				type="annotation"
				expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>

	<!-- 开启注解任务 -->
	<task:annotation-driven />

	<!-- 启动对@Aspect注解的支持 -->
	<!-- proxy-target-class等于true是强制使用cglib代理，
		proxy-target-class默认是false，如果你的类实现了接口 就走JDK代理，
		如果没有，走cglib代理  -->
	<!-- 注：对于单利模式建议使用cglib代理，虽然JDK动态代理比cglib代理速度快，
		但性能不如cglib -->
	<!-- 如果不写proxy-target-class="true"这句话也没问题 -->
	<aop:aspectj-autoproxy proxy-target-class="true" />
</beans>